*.csv
.Rhistory
.RData
*.Rproj
/Original
.scrap
__pycache__/
*.py[cod]
googleapikey.py
/_CanadaData
/_USData
/CanadaGeoData
*.RData
/Backup
*.sublime-project
*.sublime-workspace
*.png
*.PNG
*.pdf
/Maps